<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TicketOffice</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SeanceServlet</display-name>
    <servlet-name>SeanceServlet</servlet-name>
    <servlet-class>servlets.SeanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeanceServlet</servlet-name>
    <url-pattern>/SeanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>servlets.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterServlet</display-name>
    <servlet-name>EnterServlet</servlet-name>
    <servlet-class>servlets.EnterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterServlet</servlet-name>
    <url-pattern>/EnterServlet</url-pattern>
  </servlet-mapping>
</web-app>